.button1 {
    position: absolute;
    background-color: black; 
    z-index: 2;
    color: white;
   
}
 .button2{
    position: absolute;
    background-color: red; 
    z-index: 0;
  
}
.button3{
    position: relative;
    background-color: yellow; 
    z-index: 1;

}
.button1:hover{
    transform: translate(-8px , -8px);
    transition-duration: 1s;
}
.button1:hover ~ .button2 {
    transform: translate(8px , 8px);
     transition-duration: 1s;
}

.button1:hover ~ .button3 {
    transform: translate(0px , 0px);
     transition-duration: 1s ;
}

.mybtn:hover{
    outline: 1px solid white;
    outline-offset: 0.5px;
   
}

.myimage{
    height: 50px;
    width: 50px;
    background-color: white;

    
    
 

}
.image{
    height: 50px;
    width: 50px;
    
    padding: 8px;
    
}
.textbox12:active{
    outline: none;
    border: none;
}
.logo , #logo1{
    height: 2rem;
    width: 2rem;
}
