.button1{
    position: absolute;
    background-color: black;
    padding: 10px;
   
    z-index: 2;
    color: white;
}
 .button2{
    position: absolute;
    background-color: red;
    padding: 10px;
   
     z-index: 0;
  
}
.button3{
   
    position: absolute;
    background-color: yellow;
    padding: 10px;
    
    z-index: 1;
}
.button1:hover{
    transform: translate(-8px , -8px);
    transition-duration: 1s;
}
.button1:hover ~ .button2 {
    transform: translate(8px , 8px);
     transition-duration: 1s;
}

.button1:hover ~ .button3 {
    transform: translate(0px , 0px);
     transition-duration: 1s ;
}

.mybtn:hover{
    outline: 1px solid white;
    outline-offset: 0.5px;
   
}

.myimage{
    height: 40px;
    width: 40px;
    background-color: white;
    
    border-radius: 30px;
    transform: scale(10px, 10px);
    margin-top: 100px ;

}

